body {
  background-color: #1b1b1b;
  color: #808080;
}

.header {
  width: 100%;
  position: relative;
}

.menu {
  position: relative;
}
.logo {
  width: 12vh;
  height: 12vh;
  background-color: blue;
}
.keyboard-logo {
  height: 6vh;
}

.text-content p {
  font-size: 16pt;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1pt;
  word-spacing: 3pt;
  text-align: center;
  padding: 10vh;
}
span { 
  color: gray;
}

.content,
p {
  font-size: 30pt;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 500px;
  color: white;
  padding: 6vh;
  display: block;
}

.footer {
  width: 100%;
}

.text {
  color: gray !important;
  text-align: justify;
  line-height: 1.5;
}

